{% extends 'AppBundle::index.html.twig' %}

{% block content_page %}
    <div class="container-fluid well well-lg">
        <div class="col-md-9 well well-sm">
            <h1 class="text-primary">News</h1>
            {% include 'AppBundle::block_news.html.twig' with {'news': news} %}
        </div>
        <div class="col-md-3">
            <div class="well well-lg">
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    {% if specified_page == 'login' %}
                        {{ render(controller('FOSUserBundle:Security:login')) }}
                    {% elseif specified_page == 'register' %}
                        {{ render(controller('FOSUserBundle:Registration:register')) }}
                    {% endif %}
                {% else %}
                    <h2>{{ app.user.username }}</h2>
                    <a href="{{ path('fos_user_profile_show') }}">Details</a>
                    <hr />
                    <h4>All Season</h4>
                    <p>High Score : {{ app.user.highscore }}</p>
                    <hr />
                    <h4>This Season</h4>
                    <p>Score : {{ app.user.score }}</p>
                    <hr />

                    <div style="text-align: center">
                        <a href="" class="btn btn-danger">Enter Deep Space !</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
